################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PlanetResearch.slnx/FileContentIndex/0e3e396c-3d3c-4c9e-90c2-5b185de3c6b8.vsidx
/.vs/PlanetResearch.slnx/FileContentIndex/a3d05e53-e364-4824-85a6-93bcb6f13b56.vsidx
