################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PlanetResearch.slnx/FileContentIndex/0e3e396c-3d3c-4c9e-90c2-5b185de3c6b8.vsidx
/.vs/PlanetResearch.slnx/FileContentIndex/a3d05e53-e364-4824-85a6-93bcb6f13b56.vsidx
/.vs/PlanetResearch.slnx/FileContentIndex/d9460f2a-c779-4116-920a-0fe37b67f3da.vsidx
/.vs/PlanetResearch.slnx/FileContentIndex/e1d640e2-1df4-4dc6-a43b-74ab6ccc82ba.vsidx
